{% extends 'main.html' %}

{% block content %}

    {#Accessing a variable here. THis should be inside the block tag. As, the content outside of the block tag will not be visible#}
    <p>Hello, you are in {{ page }} page.</p>

    {% if number > 10 %}
        <p>Number is greater than 10</p>
    {% elif number == 10 %}
        <p> Number is Exactly 10</p>
    {% else %}
        <p>Number is {{ number }}</p>
    {% endif %}

    <hr>

    <h3>Projects</h3>

    <ul>
        {% for project in projects %}
            {#      url <'url name'> :id        #}
            <li>Title: <a href="{% url 'project' project.id %}">{{ project.title }}</a>>
                ------- {{ project.description }}</li>
            {#        or    #}
            {#     <li>Title: <a href="/project/{{ project.id }}">{{ project.title }}</a>> ------- {{ project.description }}</li>        #}
        {% endfor %}
    </ul>

{% endblock %}
